<nav class="navbar navbar-custom">
    <div class="navbar-left">
            <img src="/img/logo_hazus.png">
            Mateusz Hazy
    </div>
    <div class="navbar-default">
        <ul class="nav navbar-nav">
            <% for (var page of pages) { %>
                <li>
                    <a href="/page/<%=page.name%>/">
                        <%=page.name%>
                    </a>
                </li>
            <% } %>
            <li> 
                <a href="/upload">Upload</a>
            </li>
        </ul>
    </div>
    <div class="navbar-custom-social">
        <ul class="nav navbar-nav">
            <li>
                <a href="https://www.facebook.com/mateusz.hazy" class="fa fa-facebook"></a>
            </li>
            <li><a href="https://github.com/matiwertyl2" class="fa fa-github"></a></li>
        </ul>           
    </div>       
</nav>

