<%- include('partials/head.ejs', { title: 'Upload' }) %>
<%- include('partials/menu.ejs') %>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<form id="send-page-content" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="pageContentName">
    </div>

    <div class="form-group">
            <label>Archive</label><br>
            <label class="fileContainer">
                    <button class="btn btn-primary">Choose archive</button>
                    <input type="file" name="pageArchive"/>
                </label>
    </div>
    <center>
    <input class="btn btn-primary" id="upload" type="submit" value="Upload">
    </center>
</form>

<form id="send-page" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="pageName">
    </div>
    <center>
        <input class="btn btn-primary" id="pageUpload" type="submit" value="Upload">
    </center>
</form>

<!-- Modal - displaying messages -->
<div class="modal fade" id="modal-message" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#send-page').on('submit', e => {
        e.preventDefault();

        var data = new FormData();

        var name = $('#send-page :input[name="pageName"]')[0];
        data.append('name', name.value);

        fetch('/upload/page', {
            method : 'post',
            body : data
        })
        .then(response => response.json())
        .then(response => {
            if(response.err) {
                $('#modal-message .modal-title').text("Error");
                $('#modal-message .modal-body').text(response.err);
                $('#modal-message').modal();
            }
            else {
                document.getElementById("send-page").reset();
                $('#modal-message .modal-title').text("Success");
                $('#modal-message .modal-body').text("Congratulations, page successfully uploaded");
                $('#modal-message').modal();
            }
        })
        .catch(console.error);
    });
</script>

<script>
    $('#send-page-content').on('submit', e => {
        e.preventDefault();

        var data = new FormData();

        var archiveFile = $('#send-page-content :input[name="pageArchive"]')[0];
        data.append('archive', archiveFile.files[0]);

        var name = $('#send-page-content :input[name="pageContentName"]')[0];
        data.append('name', name.value);

            fetch('/upload', {
                method: 'post',
                body: data
            })  .then(response => response.json())
                .then(
                    response => {
                        console.log(response);
                        if (response.err) {
                            $('#modal-message .modal-title').text("Error");
                            $('#modal-message .modal-body').text(response.err);
                            $('#modal-message').modal();
                        }
                        else {
                            console.log("SUCCES");
                            console.log(response);
                            document.getElementById("send-page-content").reset();
                            $('#modal-message .modal-title').text("Success");
                            $('#modal-message .modal-body').text(
                                "Congratulations, page content successfully uploaded");
                            $('#modal-message').modal();
                        }
                    }
                )
                .catch(console.error);
        
    });

</script>